version: '3.5'
services:
  db:
    image: mysql:5.7
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=dw_dev
  app:
    restart: on-failure
    depends_on:
      - db
    build: .
    ports:
      - 8081:8080